{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Edit project{% else %}New project{% endif %}{% endblock %}

{% block content %}
  <h1>{% if form.instance.pk %}Edit project{% else %}New project{% endif %}</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
    {% if form.instance.pk %}
      <a href="{{ form.instance.get_absolute_url }}">Cancel</a>
    {% else %}
      <a href="{% url 'project-list' %}">Cancel</a>
    {% endif %}
  </form>
{% endblock %}
